<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>发布公告</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container">
        <div class="layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-block">
                    <input maxlength="40" id='title' type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容：</label>
                <div class="layui-input-block">
                    <textarea type="text" id="content" name="content" required autocomplete="off" class="layui-input"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">保存</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/pako.min.js"></script>
    <script src="~/Content/js/zip.js"></script>
    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layedit', 'jquery'], function () {
            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '/admin/upload', //接口url
                    type: 'post' //默认post
                }
            });
            var editor = layedit.build('content'); //建立编辑器
            var $ = layui.jquery;
            var form = layui.form;
            form.render();
            //监听提交
            form.on('submit(formDemo)', function (data) {
                if ($('#title').val().trim().length < 3) {
                    layer.msg("公告标题必须大于等于3个字符长度");
                    return false;
                }
                var params = {
                    "title": $('#title').val(),
                    "content": zip(layedit.getContent(editor)),
                }
                $.ajax({
                    async: "false",
                    type: "post",
                    //dataType: "json",
                    //contentType: "application/json",
                    data: params,
                    url: "",
                    success: function (data) {
                        data = JSON.parse(data);
                        layer.open({
                            'icon': 1,
                            'title': "温馨提示",
                            'content': data['msg']
                        });
                    },
                    error: function (e) {
                        layer.open({
                            'icon': 0,
                            'title': "发生错误",
                            'content': "错误代码：" + e['status'] + "<br/>错误提示信息：" + e["statusText"]
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>