<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>查看公告</title>
    <link rel="stylesheet" type="text/css" href="~/content/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/content/css/admin.css" />
</head>

<body>
    <div class="wrap-container clearfix">
        <div class="column-content-detail">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <h3>公告列表</h3>
                </div>
            </form>
            <div class="layui-form" id="table-list">
                <table class="layui-table" lay-even lay-skin="nob">
                    <colgroup class="layui-row">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>发布者</th>
                            <th style="float: right;">发布时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var notice in ViewBag.notices)
                        {
                            <tr>
                                <td>
                                    <a href="/notice/view/@notice.Id" target="_blank">@notice.Title</a>
                                </td>
                                <td>@notice.Login_name</td>
                                <td style="float: right;">@notice.Post_date</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="page-wrap">
                    <ul class="pagination">
                        <li>
                            @if (ViewBag.pageIndex == 1)
                            {
                                <a disabled="disabled"><span><</span></a>
                            }
                            else
                            {
                                <a href="/notice/list?pageIndex=@(ViewBag.pageIndex - 1)">
                                    <
                                </a>
                            }
                        </li>
                        <li>@ViewBag.pageIndex</li>
                        <li>
                            @if (ViewBag.count / ViewBag.pageIndex - 9 > 1)
                            {
                                <a href="/notice/list?pageIndex=@(ViewBag.pageIndex + 1)"><span>></span></a>
                            }
                            else
                            {
                                <a disabled="disabled"><span>></span></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>