<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文件上传测试端口</title>
    <link rel="stylesheet" type="text/css" href="~/Content/layui/css/layui.css" />
</head>
<body>

    <button type="button" class="layui-btn layui-btn-normal" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传文件
    </button>

    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use('upload', function () {
            var upload = layui.upload;

            //执行实例
            var uploadInst = upload.render({
                accept: 'file',
                elem: '#test1' //绑定元素
                , url: '/Admin/upload/' //上传接口
                , done: function (res) {
                    //上传完毕回调
                    console.log(res);
                }
                , error: function (res) {
                    //请求异常回调
                    console.log(res);
                }
            });
        });
    </script>
</body>
</html>