@model sdglsys.Entity.TDorm
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>修改园区</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container">
        <div class="layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">园区名称：</label>
                <div class="layui-input-block">
                    <input value="@Model.Nickname" maxlength="20" id='name' type="text" required lay-verify="required" placeholder="园区名称" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型：</label>
                <div class="layui-input-block">
                    <select class="layui-select" id="type">
                        @if ((bool)Model.Type)
                        {
                            <option value="0">女</option>
                            <option value="1" selected="selected">男</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">女</option>
                            <option value="1">男</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea maxlength="255" id='note' placeholder="备注信息" autocomplete="off" class="layui-textarea">@Model.Note</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">激活：</label>
                <div class="layui-input-block">
                    @if ((bool)Model.Is_active)
                    {
                        <input id="is_active" type="checkbox" name="switch" lay-skin="switch" checked="checked">
                    }
                    else
                    {
                        <input id="is_active" type="checkbox" name="switch" lay-skin="switch">
                    }
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
            layui.use(['form', 'jquery'], function () {
                var form = layui.form;
                            var $ = layui.jquery;
                form.render();
                //监听提交
                form.on('submit(formDemo)', function (data) {
                    if ($('#name').val().trim().length < 1) {
                        layer.msg("园区名称不能为空");
                        return false;
                    }
                    var params = {
                        'id': @Model.Id,
                        "name": $('#name').val(),
                        "type": $("#type").val(),
                        "note": $("#note").val(),
                        "is_active": data.field['switch'] == "on" ? true : false,
                    }
                    $.ajax({
                        async: "false",
                        type: "post",
                        //dataType: "json",
                        //contentType: "application/json",
                        data: (params),
                        url: "",
                        success: function (data) {
                            data = JSON.parse(data);
                            layer.msg(data['msg'], {
                                'icon': data['code'] == 200 ? 1 : 0,
                            });
                        },
                        error: function (e) {
                            layer.open({
                                'icon': 0,
                                'title': "发生错误",
                                'content': "错误代码：" + e['status'] + "<br/>错误提示信息：" + e["statusText"]
                            });
                        }
                    });

                });
			});
    </script>
</body>

</html>