<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@ViewBag.code 页面</title>
    <link rel="stylesheet" type="text/css" href="~/Content/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
    <style>
        /*页面背景色*/
        body {
            background: url(/Content/images/l_line.png) repeat #137fec;
        }
    </style>
</head>
    <body>
        <div class="main-layout">
            <div style="margin: 80px auto;text-align: center;">
                <div style="color: white;font-size: 2.2em;margin-bottom: 50px;">@ViewBag.msg</div>
                <button class="layui-btn layui-btn-lg" onclick="history.back()" style="color: white;">返回上一页面</button>
            </div>
            <div class="layui-footer" style="text-align: center;color: white;">
                <p class="copyright">Copyright 2018 by SINSEN</p>
            </div>
        </div>
    </body>

</html>